@import "../../main_colours.scss";

$padding: 15px;
$tiny_pad: 5px;

.about-content {
    &.about-title {
        padding-bottom: $padding;

    }

    &:ul {
        padding-top: $padding;
        margin-top: $tiny_pad;

    }

    &:li {
        margin-top: $tiny_pad;
    }
}

.info-icon {
    color: $main_colour;
}

.info-text {
    padding-left: $tiny_pad;
}

.about-skills .skill-item .skill-bar .bar-inner {
    width: 100%;
    height: $tiny_pad;
    position: relative;
    
}

.skill-header {
    margin-top: $tiny_pad
}

.about-skills .skill-item .skill-bar .bar-inner .progress-line {
    height: $tiny_pad;
    background-color: $sub_colour;
    transition: width 2s ease-out 2s;
    width: 0%;
}

.bar-inner {
    border-radius: 20px;
    background-color: $main_colour;
    width: 0%;
}

.skill-stars {
    float: right;
}