@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@import './main_colours.scss';


// By defining the target we're taking into account the header, so the section isn't blocked
:target {
  padding-top: 15vh;
  margin-top: -15vh;
}

// Pretty text boxes
.box {
  background: linear-gradient(to right, transparent 0%, $background_colour 50%, transparent 100%);
  border-bottom: 3px solid $background_colour;
  border-top: 3px solid $background_colour;
  margin-bottom: 3px;
}

// see react-particles-js
.pretty_particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  font-family: 'Nunito',
    sans-serif;
  font-size: 6+16px;
  line-height: 1.8;
  section {
    margin-top: 50px;
    z-index: 99;
  }

  // Fancy background
  background: linear-gradient(270deg, #003cff63, #ffc40063);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 51%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 51%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 51%
    }

    100% {
      background-position: 0% 50%
    }
  }


}

.btn-lg {
  border-color: $main_colour;
  background-color: $background_colour;

  &.round {
    border-radius: 24px;

  }

  &:hover {
    background-color: white;
  }

  &:focus {
    outline: none;
  }
}

a:focus,
input:focus,
a:hover,
textarea:focus {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #32333c;
  margin: 0px;
}

h1 {
  font-size: 6+60px;
}

h2 {
  font-size: 6+36px;
}

h3 {
  font-size: 6+28px;
}

h4 {
  font-size: 6+22px;
}

h5 {
  font-size: 6+18px;
}

h6 {
  font-size: 6+16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 6+16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px;
}

.section-title .title {
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 20px;
}