// Classic blue and orange scheme. These vars are then imported by the scss
$main_colour: rgba(52, 69, 254, 1);
$sub_colour: rgba(254, 166, 52, 1);
$background_colour: #f2f2f2;
$background_colour_with_transparency: #f2f2f2da;
$text_colour: #444444;